header {
  background-image: url("../IMAGE-Files/animal\ background\ page.jpg");
}


.national-parks{
  padding: 10px 20px;
  margin: 30px;
  border-radius: 50px;
  border: none;
  transition: 0.5s;
}

.national-parks:hover {
  scale: 1.2;
  cursor: pointer;
  background-color: green;
  color: white;
}

.national-parks:active {
  scale: 0.95;
}
.animal-main-subsection {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  gap: 2rem;
  background-color: rgb(48, 49, 47);
  border-radius: 10px;
  gap: 2rem;

}

.animal-main-subsection-1 {
  padding: 2rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  
  border-radius: 10px;

}
.animal-main-section-h2{
  font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1rem;
    margin-bottom: 1rem;
}
.image1{
  align-items: center;
  margin-top: 16px;
}
.imagesection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 4rem;
}
.Animal-main-section-h2{
  font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 4rem;
    margin-bottom: 2rem;
    font-weight: 800;
    width: 100%;
}
.Animal-main-section-h3{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 6px;


}
.animal-main-headsection-h2{
  font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 800;
    width: 100%;
}
.head-text{
  text-align: center;
  margin-top: 15rem;
  font-size: 75px;
}