/*Color Palette
Dirt #9F784

Name: Old Gold 
Hex: #CDAB48 
RGB: (205, 171, 72)

Name: Royal Brown
Hex: #544236
RGB: (84, 66, 54)

Name: Grullo 
Hex: #A1A17F 
RGB: (161, 161, 127)

Name: Fern Green 
Hex: #57804F 
RGB: (87, 128, 79)

Name: Fern Green 
Hex: #57804F 
RGB: (87, 128, 79) */


header {
  background-attachment: fixed;
  color: rgb(219, 223, 210);
  padding-top: 100px;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
main{
  color:rgb(219, 223, 210);;
  text-align: center;
  background-color: black;
  padding: 4rem;
 

 

  
 
  
}

nav{
  
  background:transparent;
  backdrop-filter: blur(50px);
  box-shadow: 0px 2px 7px rgba(66, 77, 12, 0.3);
  position: fixed;
  height: 5rem;
  margin-top: 0;
  width: 100%;
  z-index: 10;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sub-menu {
  right: -70px;
  background-color: black;
  margin-top: 2rem;
  border-radius: 10px;
  display: none;
}
#park:hover > .sub-menu{
  display: block;
}

nav ul{
  list-style: none;
  display: flex;
}

nav ul li {
  display: flex;
  flex: 1;
  padding: 20px;
}
nav ul li a{
  transition: 1.3s;
}
nav ul li a:hover{
  transform: scale(1.5);
}
img {
  border-radius: 10px;
  transition: 1s;
}
img:hover{
  transform: scale(1.05)
}

a{
  text-decoration: none;
  color: whitesmoke;
}
/*footer*/
footer{
  align-items: center;
  text-align: center;
  background: rgb(39, 37, 37);
  padding: 2rem;
  width: 100%;
  color: white;
}
.footer1 a{
  padding: 1rem;

}
.footer1{
  margin: 2rem;
}
.footer-nav ul{
  list-style-type: none;
  line-height: 2rem;
}
.footer-bottm{
  padding: 2rem;
}

/*FOOTER STYLE

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width:720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }

  .footer .row a i {
    margin: 0% 3%;
  }
}*/